/* Our style */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.button {
    display: inline-block;
    padding: 20px 37px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #3172b9;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* Header */

.header {
    height: 110px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 15px;
    line-height: 1;
}

.logo {
    margin-right: auto;
    max-width: 120px;
}

.nav-list {
    display: flex;
}

.list-item:not(:last-child) {
    margin-right: 55px;
}

.header-button {
    margin-left: 85px;
}

/* Main */

/* Hero */

.hero-container {
    padding-top: 125px;
    padding-bottom: 138px;
}

.hero-container-description {
    max-width: 55%;
}

.section-hero-title {
    margin-bottom: 35px;
}

.section-hero-description {
    margin-bottom: 35px;
}

.section-hero-btn-description {
    margin-top: 15px;
    font-size: 11px;
    line-height: 1;
}

/* What we do */

.what-container {
    padding-top: 225px;
    padding-bottom: 200px;
}

.section-title {
    font-size: 36px;
}

.section-description {
    margin-top: 34px;
}

.section-do-list {
    display: flex;
    margin-top: 58px;
}

.section-do-list-item:not(:last-child) {
    margin-right: 30px;
}

.section-do-list-item {
    f
}

/* Clients */

.clients-container {
    padding-top: 95px;
    padding-bottom: 160px;
}

.section-title {
    margin-bottom: 42px;
}

.section-clients-list {
    display: flex;
    justify-content: space-between;
}

.section-clients-item {
    flex: 1 1 33%;
    /* max-width: 370px; */
}

.section-clients-item:not(:last-child) {
    margin-right: 30px;
}

/* Contacts */

.contacts-container {
    padding-top: 70px;
    padding-bottom: 165px;
}

.section-title {
    margin-bottom: 150px;
}

.section-list {
    display: flex;
    justify-content: flex-start;
}

.section-item:not(:last-child) {
    margin-right: 190px;
}

.section-item-title {
    margin-top: 23px;
}

.section-item-info {
    margin-top: 42px;
}